<div class="span12">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Rank</th>
				<th>Frequency</th>
				<th>% White</th>
				<th>% Hispanic</th>
				<th>% Black</th>
				<th>% Asian</th>
				<th>% Native</th>
			</tr>
		</thead>
		<tbody>
			<% @names.each do |name| %>
				<tr>
					<td><%= name.body %></td>
					<td><%= name.rank %></td>
					<td><%= name.frequency %></td>
					<td><%= name.pctwhite %></td>
					<td><%= name.pcthispanic %></td>
					<td><%= name.pctblack %></td>
					<td><%= name.pctasian %></td>
					<td><%= name.pctnative %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>