<!DOCTYPE html>
<html>
<head>
  <title>Random Name Generator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container">	
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
			<div class="container">
	            <!-- brand class is from bootstrap.css  -->
	            <a class="brand" href="/">RandomName</a>
	            <%= form_tag("/generate", :method => "get", :class => "navbar-form pull-left") do %>
				<%= select_tag :nametype, options_for_select([['Full','full'], ['First','first'], ['Last','last']], params[:nametype]), :class => "span1" %>
				<%= select_tag :gender, options_for_select([['Male','Male'], ['Female','Female']], params[:gender]), :class => "span2" %>
				<%= select_tag :limit, options_for_select([['10',10], ['20',20], ['50',50]], params[:limit]), :class => "span1" %>
				<%= submit_tag"Generate", :name => nil, :class => "btn" %>
			  	<% end %>
			</div>
	    </div><!-- /navbar-inner -->
	</div><!-- /navbar -->
	
	<div class="row">
		<%= yield %>
	</div>
</div>
</body>
</html>
